.about-us-content{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 30%;
}

.about-us{
    margin-top: 70px;
}

.about-us-paragraph{
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    color: #606060;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.about-us-content-paragraphs{
    display: flex;
    flex-direction: column;
}

.about-us-title{
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
    color: #606060;
    min-height: 40px;
}

.paragraph-container{
    display: grid;
    grid-template-columns: 60% 40%;
}

.certification-img-containter img{
    width: 250px;
}

.car-link{
    color: #3399ff;
    transition: 0.15s;
}

.car-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.right-title h3{
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
    color: #175da2;
    font-weight: 400;
}

.about-us-content-right{
    padding-left: 50px;
}

.logo-image-container img{
    width: 300px;
}

.contact-information{
    display: flex;
    gap: 15px;
}

.address-pin img{
    width: 25px;
}

.contact-text{
    color: gray;
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
}

.contact-link{
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
    color: #3399ff;
}

.contact-link:hover{
    text-decoration: underline;
    cursor: pointer;
}