.frontline-ambulance-content{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 30%;
}

.frontline-ambulance{
    margin-top: 50px;
}

.frontline-ambulance-content-right{
    background-color: #efefef;

}

