.frontline-ambulance-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}
.frontline-ambulance{
    margin-top: 50px;
}
.ambulance-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ambulance-paragraph{
    margin-bottom: 20px;
}
.frontline-ambulance-content-left{
    max-width: 1024px;
    padding: 40px 20px;
}
@media (max-width: 970px) {
    .frontline-ambulance-content{
        flex-direction: column;
    }
    .logo-image-container{
        height: auto;
    }
    .global-about-us-content{
        grid-template-rows: 30px minmax(200px, auto) minmax(20px, auto);
        width: 100%;
        padding: 0px 10px 40px 10px;
    }
    
}