*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.wrapper{
    min-height: 100vh;
}
/* GLOBAL FOOTER */
.global-footer{
    background-color: #00609c;
    width: 100%;
}
.global-footer-content{
    display: grid;
    grid-template-rows: minmax(200px, auto) minmax(50px, auto);
    width: 100%;
}
.upper-side-content{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.global-footer-content-upper-side{
    width: 100%;
    height: 100%;
}
.upper-side-content{
    display: grid;
    grid-template-columns:  1fr 1fr;
    max-width: 1500px;
}
.left-side-content{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(auto, 150px));
    gap: 15%;
    width: 100%;
    height: 100%;
}
.left-side-contact-box{
    display: grid;
    grid-template-rows: minmax(40px, auto) minmax(100px, auto);
    color: white;
    max-width: 150px;
}
.left-side-social-media-box{
    display: grid;
    grid-template-rows: minmax(40px, auto) minmax(100px, auto);
    color: white;
}
.social-media-box-content ul{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.left-side-box-title h2{
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 500;
}
.left-side-box-paragraphs{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.left-side-box-paragraph{
    font-size: 15px;
    font-family: 'Roboto';
    text-align: center;
}
.left-side-box-paragraph a{
    transition: 0.15s;
}
.left-side-box-paragraph a:hover{
    color: rgba(255, 255, 255, 0.27);
}
.social-media-box-content img{
    width: 50px;
}
.left-side-box-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.upper-side-right-side iframe{
    width: 100%;
    height: 100%;
}
.global-footer-content-bottom-side{
    background-color:black ;
}
.bottom-side-content{
    max-width: 1500px;
    margin: 0 auto;
    color: #999;
    font-family: 'roboto';
    height: 100%;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bottom-side-left-side{
    display: flex;
    height: 100%;
    align-items: center;
}
.footer-link{
    transition: 0.15s;
}
.footer-link:hover{
    color: white;
}
.bottom-side-left-side span{
    color: #bbbbbb;
}
.bottom-side-right-side ul{
    display: flex;
    gap: 10px   ;
    height: 100%;
    justify-content: flex-end;
}
.bottom-side-right-side li{
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
/* Global Button */
.global-section-button{
    min-width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background: #1e73be;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Roboto','Helvetica Neue', Arial, sans-serif;   
}
/* GLOBAL HEADER */
.global-header{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    background: #00609c;
    z-index:2;
}
.global-header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.global-header-content-logo{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
}
.global-header-content-logo a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-header-content-logo img{
    width: 100px;
    height: 40px;
}
.global-header-content-nav ul{
    display: grid;
    grid-template-columns: repeat(4, 165px);
    grid-template-rows: 50px;
    gap: 25px   ;
}
.global-header-content-nav li{
    font-size: 21px;
    font-family: 'Roboto';
    font-weight: 400;
    color: white;
}
.global-header-content-nav li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.global-header-content-nav li:hover{
    color: white;
    border-bottom: 5px solid white;
}
<<<<<<< HEAD

.page-title{
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #00609c;
    
}

/* RIGHT SIDE ABOUT US */
.right-title h3{
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
    color: #175da2;
    font-weight: 400;
    min-height: 50px;
}

.logo-image-container img{
    width: 300px;
}

.about-us-paragraph{
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    color: #606060;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.contact-information{
    display: flex;
    gap: 15px;
}

.address-pin img{
    width: 25px;
}

.contact-text{
    color: gray;
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
}

.contact-link{
    font-family: "Roboto", "Helvetica Neue",Arial,sans-serif;
    color: #3399ff;
}

.contact-link:hover{
    text-decoration: underline;
    cursor: pointer;
}









=======
/* MEDIA
@media (max-width: 1500px) {
    .global-header-content-logo{
        margin-left:20px;
    }
    .global-footer-content-upper-side{
        grid-template-columns: repeat(2, minmax(auto, 640px));
    }
    .bottom-side-content{
        max-width: 1280px;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 1280px) {
    {
        grid-template-columns: repeat(2, minmax(auto, 512px));
    }
} */
>>>>>>> 2b78714d38be655f31b881d05591e5f0fcbfd9b8



