.minibus-section{
    margin-top: 50px;
}
.minibus-section-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}
.minibus-section-content-left{
    padding: 40px 20px 40px 20px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px   ;
}
.minibus-section-content-slider{
    width: 100%;
    height: 100%;
}
.minibus-section-content-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 970px) {
    .minibus-section-content{
        flex-direction: column;
    }
    .logo-image-container{
        height: auto;
    }
    .global-about-us-content{
        grid-template-rows: 30px minmax(200px, auto) minmax(20px, auto);
        width: 100%;
        padding: 0px 10px 40px 10px;
    }
}