
.ambulance-paragraph{
    margin-bottom: 20px;
}
.secure-transport-content-left{
    max-width: 1024px;
    padding: 40px 20px;
}
.ambulance-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.paragraph-description{
    color: #606060;
    height: 40px;
    font-weight: 600;  
}